@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  fallback: inherit;
}

:focus {
  outline: 1.75px solid #0f0;
  outline-offset: 2px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif, monospace;
  letter-spacing: 0.11rem;
}

body {
  background: #000;
  color: #0f0;
  font-family: monospace, monospace;
  width: 100dvw;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #0f0;
  color: #000;
}

button.log-off {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #0f0;
  border: 2px solid #0f0;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 14px;
  z-index: 1000;
  transition: all 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 0.22rem;
}
button.log-off:hover {
  background-color: #0f0;
  color: #000;
}
