*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #00ff00;
  font-family: monospace, monospace;
  width: 100dvw;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #00ff00;
  color: #000;
}
