:root {
    --primary-color: #0f0;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container {
    padding: 2rem;
    border: 2px solid var(--primary-color);
    
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
p {
    font-size: 1.2rem;
    color: #bdc3c7;
}
