.second-stage {
  position: absolute;
  top: calc(1 * 100dvh);
  left: 0;
  right: 0;
  bottom: auto;
  width: 100dvw;
  height: 100dvh;
}

.dino-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 82.5dvw;
  height: 72.5dvh;
  border: 2px solid var(--primary-color);
}

.dino-btns-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dino-btns-wrap::before {
  content: "DinoGame.exe";
  background: var(--primary-color);
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  background: var(--primary-color);
  color: var(--bg-color);
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
  pointer-events: none;
  cursor: default;
  transition: all 185ms;
}

.dino-wrap .dino-btns-wrap button {
  width: 40%;
  height: 65px;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: all 325ms ease-out;
}

.dino-wrap canvas.game {
  width: 77.5%;
  height: 77.5%;
  outline: 2px solid var(--primary-color);
}

.dino-btns-wrap button {
  padding: 12px 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}
