.fini::selection {
  background: #000;
  color: red;
}

.first-stage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
}

.first-stage h1 {
  margin-top: 55px;
  position: relative;
  font-size: 6.5rem;
  width: fit-content;
}

.first-stage h1::before {
  content: "Horloge.exe";
  background: #00ff00;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  background: #00ff00;
  color: #000;
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
}

.first-stage ul {
  margin-top: 115px;
  font-size: 0.5rem;
  width: 200px;
  height: 8.5vh;
  list-style: none;
  position: relative;
}

.first-stage ul::before {
  content: "Pauses.exe";
  background: #00ff00;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  background: #00ff00;
  color: #000;
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
}

.first-stage li {
  border-left: 4px solid #00ff00;
  border-right: 4px solid #00ff00;
  width: 100%;
  height: 90%;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
}

.first-stage li:nth-child(1) {
  border-top: 4px solid #00ff00;
}

.first-stage li:last-child {
  border-bottom: 4px solid #00ff00;
}

.first-stage li::after {
  content: "(à suivre)";
  position: absolute;
  right: -200px;
  top: 35%;
  font-size: 1.45rem;
  font-style: italic;
  color: #00ff00;
}

.avenir {
  background: #000;
  color: #00ff00;
}

.avenir::after {
  content: "";
}

.pendant {
  background-color: #00ff00;
  color: #000;
}

.fini {
  background-color: red;
  color: #000;
}

.fini::after {
  content: "(passée)";
  position: absolute;
  right: -165px;
  top: 35%;
  font-size: 1.45rem;
  font-style: italic;
  color: #00ff00;
}

.pendant::after {
  content: "(en pause)";
  position: absolute;
  right: -200px;
  top: 35%;
  font-size: 1.45rem;
  font-style: italic;
  color: #00ff00;
}

.zone-wrap {
  position: absolute;
  left: 50px;
  bottom: 200px;
  width: 300px;
  height: fit-content;
}

.zone {
  width: 100%;
  height: 235px;
  border-radius: 15px;
  border: 3px solid #00ff00;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 185ms;
  position: relative;
  z-index: 5;
}

.zone::before {
  content: "Clicker.exe";
  background: #00ff00;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  background: #00ff00;
  color: #000;
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
  pointer-events: none;
  cursor: default;
  transition: all 185ms;
}

.first-stage i {
  font-style: normal;
  font-weight: bold;
  font-size: 1.85rem;
}

.zone i::selection {
  background: none;
  color: #00ff00;
}

.temp {
  scale: 1.075;
  transition: all 185ms;
}

.zone-wrap .acps {
  font-size: 14px;
  position: absolute;
  left: 40%;
  bottom: -30px;
  transform: translateX(-60%, 0%);
}

.reset {
  background: #000;
  color: #00ff00;
  width: 40%;
  height: 65px;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 1.25px;
  border: 3px solid #00ff00;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 110px);
  cursor: pointer;
  transition: all 325ms ease-out;
}

.reset:hover {
  color: #000;
  background: #00ff00;
  border: 2px solid #000;
  outline: 2px solid #00ff00;
  transition: all 325ms ease-out;
}

.medals-wrap {
  height: 85dvh;
  width: 20dvw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  right: 40px;
  top: 67px;
  padding: 5px;
  border: 4px solid #00ff00;
  overflow: scroll;
}

.medals-wrap::before {
  content: "Médailles.exe";
  background: #00ff00;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  background: #00ff00;
  color: #000;
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
}

.medals-wrap .medal {
  width: 9dvw;
  height: 9dvw;
  border-radius: 50%;
  position: relative;
}

.medals-wrap .medal.hidden {
  border: 5px dotted gray;
  background: none;
}

.medals-wrap .medal:hover {
  cursor: pointer;
}

.medals-wrap .medal.hidden::after {
  content: "?";
  color: gray;
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-48%, -50%);
  font-weight: bold;
  font-family: "Liberation Serif", monospace;
  font-size: 6.5rem;
}

.medals-wrap .medal.shown.first-reward {
  /*=== MEDAL 1 ====*/
  background: #b77641;
  background: linear-gradient(120deg, #b77641 30%, #ffb476 60%);
  border: 5px solid #0a5254;
}

.medals-wrap .medal.shown:hover {
  animation: spin 1s ease;
}

.medals-wrap .medal.shown::after {
  font-size: 2.5rem;
}

.medals-wrap .medal.shown.first-reward::after {
  content: "1";
  color: #0a5254;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: "Liberation Serif", monospace;
}

.medals-wrap .medal.shown.second-reward {
  /*=== MEDAL 2 ====*/
  background: linear-gradient(120deg, #57aeb7 30%, #95fffa 60%);
  border: 5px solid #1e6d4d;
}

.medals-wrap .medal.shown.second-reward::after {
  content: "2";
  color: #1e6d4d;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: "Liberation Serif", monospace;
}

.medals-wrap .medal.shown.third-reward {
  /*=== MEDAL 3 ====*/
  background: linear-gradient(120deg, #ffd700 30%, #fff8dc 60%);
  border: 5px solid #b8860b;
}

.medals-wrap .medal.shown.third-reward::after {
  content: "3";
  color: #b8860b;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: "Liberation Serif", monospace;
}

.medals-wrap .medal.shown.fourth-reward {
  /*=== MEDAL 4 ====*/
  background: linear-gradient(120deg, #8a2be2 30%, #dda0dd 60%);
  border: 5px solid #4b0082;
}

.medals-wrap .medal.shown.fourth-reward::after {
  content: "4";
  color: #4b0082;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: "Liberation Serif", monospace;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.medals-wrap .medal.shown:hover {
  animation: spin 0.45s ease;
}

.btns-wrap {
  padding: 0px 5px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50px;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5.5px;
}

.btns-wrap::before {
  content: "Affichage.exe";
  background: #00ff00;
  position: absolute;
  top: -33px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  background: #00ff00;
  color: #000;
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
}

.btns-wrap button {
  width: 110px;
  height: 4dvh;
  background: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  font-weight: 600;
  letter-spacing: 2.2px;
  border-radius: 35px;
}

.btns-wrap button:hover {
  background: #00ff00;
  color: #000;
}

.medal[data-name="Rubis"].shown {
  background: linear-gradient(120deg, #f42370 30%, #f5b0de 60%);
  border: 5px solid #ac0e58;
  box-shadow: 0 0 30px rgba(255, 77, 198, 0.6);
}
.medal[data-name="Rubis"]::after {
  content: "5";
  color: #ac0e58;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: "Liberation Serif", monospace;
}
.medal[data-name="Saphir"].shown {
  background: linear-gradient(120deg, #0000ff 30%, #84b9ff 60%);
  border: 5px solid #1c008e;
  box-shadow: 0 0 30px rgba(117, 214, 255, 0.6);
}

.medal[data-name="Saphir"]::after {
  content: "6";
  color: #1c008e;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: "Liberation Serif", monospace;
}
.medal[data-name="Légendaire"] {
  border: 5px solid #fff;
  position: relative;
  overflow: hidden;
}

.medal[data-name="Légendaire"]::after {
  content: "7";
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: "Liberation Serif", monospace;
  z-index: 1;
}

.medal[data-name="Légendaire"].shown {
  animation: glowLegend 2s ease-in-out infinite alternate;
  transition: all 0.45s ease;
}

.medal[data-name="Légendaire"].shown:hover {
  scale: 1.2;
}

.medal[data-name="Légendaire"].shown::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff0000,
    #0000ff,
    #c746ff,
    #ff7f00,
    #ffff00,
    #2a9f2a,
    #0000ff,
    #c746ff,
    #ff0000
  );
  background-size: 400% 400%;
  animation: rainbowMove 3s ease infinite;
  opacity: 0.8;
  z-index: 0;
}

@keyframes glowLegend {
  from {
    box-shadow: 0 0 15px rgba(255, 230, 100, 0.8),
      0 0 30px rgba(255, 100, 255, 0.4);
    filter: brightness(1);
  }
  to {
    box-shadow: 0 0 30px rgba(255, 230, 100, 1),
      0 0 79px rgba(255, 100, 255, 0.6);
    filter: brightness(1.2);
  }
}

@keyframes rainbowMove {
  0% {
    background-position: 0% 50%;
    rotate: 70deg;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
    rotate: -79deg;
  }
}
