#stage6 {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  padding-top: 5rem;
}

.flappy-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: min(82.5vw, 100%);
  max-height: 90vh;
  position: relative;
}

.flappy-wrap::before {
  content: "FlappyBird.exe";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  font-weight: bold;
  background: var(--primary-color);
  color: var(--bg-color);
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
  pointer-events: none;
  cursor: default;
  transition: all 185ms;
}

.flappy-btns-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.flappy-wrap .flappy-btns-wrap button {
  width: 35%;
  height: 50px;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: all 325ms ease-out;
}

.flappy-wrap canvas.game {
  width: 100%;
  max-width: 1000px;
  height: 450px;
  outline: 2px solid var(--primary-color);
}
