.sixth-stage {
  position: absolute;
  top: calc(5 * 100dvh);
  left: 0;
  right: 0;
  bottom: auto;
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.flappy-card h2 {
  margin: 5px;
  background: #00ff00;
  color: #000;
  padding: 2.5px 7.5px;
  border-radius: 25px;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
}

.flappy-container {
  position: relative;
}

#flappyCanvas {
  border: 3px solid #00ff00;
  background: #000;
  width: 80dvw;
  height: 80dvh;
}

#flappyScore {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

button.flappyStartBtn {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -10px);
  width: 120px;
  height: 60px;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  background: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  cursor: pointer;
  display: none;
  transition: color cubic-bezier(1, 2, 0, 1) 235ms,
    background-color cubic-bezier(1, 0, 0, 0) 235ms;
}
button.flappyStartBtn:hover {
  background: #00ff00;
  color: #000;
}
