#stage6 {
  position: absolute;
  top: calc(5 * 100dvh);
  left: 0;
  right: 0;
  bottom: auto;
  width: 100dvw;
  height: 100dvh;
}

.flappy-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 82.5dvw;
  height: 82.5dvh;
}

.flappy-wrap::before {
  content: "FlappyBird.exe";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  background: var(--primary-color);
  color: var(--bg-color);
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
  pointer-events: none;
  cursor: default;
  transition: all 185ms;
}

.flappy-btns-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.flappy-wrap .flappy-btns-wrap button {
  width: 35%;
  height: 50px;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: all 325ms ease-out;
}

.flappy-wrap canvas.game {
  width: 100%;
  height: 100%;
  outline: 2px solid var(--primary-color);
}
