.sixth-stage {
  position: absolute;
  top: calc(5 * 100dvh);
  left: 0;
  right: 0;
  bottom: auto;
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.flappy-card {
  margin-top: 45px;
}

.flappy-card h2 {
  background: var(--primary-color);
  color: var(--bg-color);
  padding: 2.5px 7.5px;
  border-radius: 25px;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translate(-50%, 0%);
}

.flappy-container {
  position: relative;
}

#flappyCanvas {
  border: 3px solid var(--primary-color);
  background: var(--bg-color);
  width: 80dvw;
  height: 72.5dvh;
}

#flappyScore {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.flappy-btns-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.flappy-btns-wrap button {
  padding: 12px 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}
