/* Snake Game - Stage 10 */

#stage10 {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  padding-top: 5rem;
}

.snake-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: min(85vw, 650px);
  max-height: 62.5vh;
  position: relative;
}

.snake-wrap::before {
  content: "Snake.exe";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: bold;
  background: var(--primary-color);
  color: var(--bg-color);
  border-radius: 25px;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
  pointer-events: none;
  cursor: default;
  transition: all 185ms;
}

.snake-btns-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.snake-wrap .snake-btns-wrap button {
  width: 35%;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: all 325ms ease-out;
}

#snake-canvas {
  width: 100%;
  height: 100%;
  outline: 2px solid var(--primary-color);
  background: #000;
}

.snake-btns-wrap button {
  padding: 12px 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.snake-stop {
  display: none;
}

.pause-info {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  color: var(--fg);
  font-size: 0.9rem;
  margin: 0;
}

.pause-info i {
  color: var(--accent);
}
