#stage2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0;
}

.dino-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: min(82.5vw, 100%);
  max-height: 90vh;
  position: relative;
}

.dino-wrap::before {
  content: "DinoGame.exe";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.15rem;
  font-weight: bold;
  background: var(--primary-color);
  color: var(--bg-color);
  border-radius: 0;
  padding: 1px 8.5px;
  width: fit-content;
  font-weight: normal;
  pointer-events: none;
  cursor: default;
  transition: all 185ms;
}

.dino-btns-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.dino-wrap .dino-btns-wrap button {
  width: 35%;
  /* Styles inherited from common.css */
}

.dino-wrap canvas.game {
  width: 100%;
  max-width: 1000px;
  height: 450px;
  outline: 2px solid var(--primary-color);
}

.dino-btns-wrap button {
  /* Styles inherited from common.css */
}
